# Core files
HELP.md

# Ignore Gradle build output
.gradle/
build/
target/
out/

# Include Gradle Wrapper files
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Development Environment Settings
.idea/
*.iws
*.iml
*.ipr
.vscode/

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# System files
.DS_Store
Thumbs.db
desktop.ini

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
tmp/
temp/
cache/

# Ignore Node modules
node_modules/

# File type ignores
*.class
*.jar
*.war


